.bannertop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bannertop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__main {
    height: 100%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
}