.media {
  height: 140px;
  /* padding-top: 56.25%; */
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.25);
}
.border {
  border: solid;
}
.fullHeightCard {
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #fff;
  width: 250px;
  display: none;
}
.overlay2 {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #fff;
}
.grid {
  display: flex;
}
.details {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.card h3 {
  font-size: 1.2rem;
}
.title {
  padding: 0px 1em;
}
.cardActions {
  padding: 0px 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
