.banner--wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--hover);
}

.home-product-area {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}