.dashboard {
    padding: 2em;
    width: 60%;
    margin: 2em auto;
}

.dashboard form {
    display: flex;
    /* flex-wrap: wrap; */
    justify-self: center;
    flex-direction: column;

}

form .MuiTextField-root {
    /* margin: 0.4em 0px; */
    margin-top: 10px;
    width: 80%;
}

.fileInput {
    width: 80%;
    margin: 1em 0em;
}

.buttonSubmit {
    margin: 2em 0pc!important;
}