.login {
    /* background: #fff; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #711aeb;
    color: #fff;
}

.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;

}
.login__container > form > h5 {
    margin-bottom: 5px;
}
.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
    border-color: aliceblue;
    outline-color: #711aeb;
}
.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}
.login__Logo {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100px;
    object-fit: contain;
}
.login__signInButton {
    /* background-color: #f0c14b; */
    background-color: #390b7a;
    width: 100%;
    border-radius: 2px;
    height: 28px;
    border: 1px solid;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    border-color: #390b7a #6006df #5d13c5;
}
.login__registerButton{
    width: 100%;
    border-radius: 2px;
    height: 28px;
    border: 1px solid;
    margin-top: 10px;
    background-color:lightgray;
    cursor: pointer;
}