.main {
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

header {
  padding: 1rem;
  width: 100%;
  background-color: var(--brightcyan);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav__logo a {
  font-size: 1.4rem;
  color: var(--white);
}
.nav__menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu .hambruger {
  width: 25px;
  height: 25px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hambruger .bar {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--white);
  position: relative;
}

.hambruger .bar::after, .hambruger .bar::before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: var(--white);
}

.hambruger .bar::after{
  top: 8px;
}
.hambruger .bar::before{
  top: -8px;
}
.nav__menu .menu__close {
  opacity: 0;
  pointer-events: none;
}
.nav__menu svg {
  color: aliceblue;
  font-size: 2rem;
}

main {
  display: flex;
  height: 100vh;
  z-index: 5;
}

.container {
  width: 100%;
}

.main__content {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.left__content {
  display: flex;
  margin-left: 1.5rem;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right__content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content__title {
  width: 400px;
}

.content__para {
  width: 400px;
  margin-top: 0.5rem;
}

.left__content .content__title h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--brightcyan);
}

.content__para p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0.3rem 0px 0rem 0rem;
  color: var(--brightcyan);
}
.content__para .link {
  margin-top: 1rem
}

.content__para a {
  font-size: 14px;
  font-weight: 700;
  /* height: 100%; */
  margin-left: 2rem;
  color: var(--darkblue);
  position: relative;
  margin-top: 1rem;
}
.content__para a::before {
  content: '';
  background-color: var(--darkblue);
  height: 1px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: -45%;
  
}

.wrapper {

}

.wrapper .wrapper__img {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color:red; */
}

.wrapper__img.first {
  position: absolute;
  top: 15%;
  right: 8%;
  width: 32%;
  height: 50%;
}

.wrapper__img.sec {
  position: absolute;
  left: 5%;
  bottom: 15%;
  width: 40%;
  height: 50%;
}

.wrapper__img img {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media Only screen and  (max-width: 768px) {
  
}
@media Only screen and (max-width: 1024px) {
  
}
@media Only screen and (min-width: 1441px) {
  .left__content .content__title {
    width: 800px;
  }
  .left__content .content__title h1 {
    font-size: 4rem;
  }
  .content__para {
    width: 800px;
  }
  .content__para p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;

  }
  .content__para .link {
    margin-top: 1.5rem
  }
  
  .content__para a {
    font-size: 1.6rem;
  }
}
  
