:root {
  --primary: #6a0796;
  --hover: #7e25f1;
  --secondary: #43187c;
  --grayblue: hsl(233, 8%, 62%);
  --lightgray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
