header {
  width: 100%;
  /* height: 80px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header.active {
  transition: all 0.4s ease-in-out;
  background: linear-gradient(
    95deg,
    var(--primary) 0%,
    var(--secondary) 83%
  ) !important;
}

header.active .navbar {
  /* padding-left: 0.9em; */
  transition: all 0.5s ease-in-out;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}

.navbar__brand {
  font-size: 1.3rem !important;
}

.navbar a {
  color: aliceblue;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
}

.navbar svg {
  color: aliceblue;
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__nav .nav__items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item .nav__link {
  padding: 0.8em 1.3em;
  cursor: pointer;
  border-radius: 0.4vw;
  transition: all 0.2s ease-out;
}

.nav__link:hover {
  /* background-color: #fff; */
  background-color: var(--hover);
  /* color: hsl(266, 87%, 27%); */
}

.sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    z-index: 15;
    background-color: var(--secondary);
}
.sidebar.active {
    left: 0;
    transition: all 0.4s ease-out;
}

.side__menu {
    width: 85%;
    margin: 0.8em auto;
    list-style: none;
}
.side__menu .side__item {
    width: 100%;
    /* background-color: var(--white); */
}

.side__item .side__link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.8em 1.4em;
    width: 100%;
    transition: all 0.2s ease-out;
}

.side__link:hover {
    background-color: var(--hover);
    color: var(--white);
}

.side__link svg {
    margin-right: 0.5em;
    animation: spin 0.3s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
